body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f3f5f5;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
div,
.div,
p,
.p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Main Structure */

.center {
  width: 1200px;
  margin: 0 auto;
}

/* Header */

.header-around {
  background-color: white;
}

.header {
  display: flex;
  height: auto;
  width: auto;
  margin-bottom: 2px;
}

#logo {
  width: 155px;
}

/* Restaurant */

.restaurant {
  display: flex;
  height: 256px;
  padding: 25px 0;
}

.restaurant div {
  padding-right: 60px;
}

.restaurant-description {
  color: #868a8a;
  font-size: 19px;
  line-height: 27px;
}

#restaurant-picture {
  width: 350px;
  height: 196px;
  border-radius: 5px;
}

/* Menu */

.left {
  flex: 1;
}
.right {
  height: 100%;
  flex: 1;
}

.container {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  margin: 25px 0;
}

h3 {
  font-weight: 400;
  margin: none;
}

.left p {
  color: #868a8a;
  padding: 0;
  margin: 10px 0;
}

i,
span {
  font-weight: 800;
  font-size: 12px;
  color: #ff8000;
}

.meal-description {
  height: auto;
  overflow: hidden;
}

.item-description {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.meal-pic {
  border-radius: 5px;
  object-fit: cover;
  width: 130px;
  height: 130px;
}

.item-container {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 160px;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 15px;
  margin-bottom: 15px;
}

.item-container:hover {
  background-color: lightgray;
}

.category-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  width: 840px;
}

.basket {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  border-radius: 5px;
  width: 350px;
  background-color: white;
  height: 350px;
}

.basket-meal {
  padding-left: 5px;
}

.basket-list {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basket-item {
  flex: 15;

  display: flex;
  flex-wrap: nowrap;

  overflow: hidden;
  margin-right: 20px;
}

.basket-price {
  flex: 3;
}

.basket-list p {
  font-size: 12px;
}

.basket-bottom {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 350px;
}

.total {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.line {
  width: 100%;
  border: rgb(197, 197, 197) solid 0.5px;
  margin: 10px 0;
}
